name: Code Quality

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  quality:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup Biome
        uses: biomejs/setup-biome@1cbe33ead22c12f2c9abc88f6fc4b1c9218b3097 # v2.3.0

      - name: Run Biome
        run: biome ci .
