name: Package Stream Deck plugin

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo and submodules
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive
      - name: Package Stream Deck plugin
        uses: j4ckofalltrades/streamdeck-package@v0.1.0
        with:
          input-directory: "src/dev.jduabe.obsideck.sdPlugin"
          output-directory: "release"